@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,800;0,900;1,500&display=swap');
*{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing:border-box;
}
body{
    width: 100vw;
    height: auto;
    overflow: hidden;
}
.container-principal{
    width: 100vw;
    height: 110vh;
    background-color: rgb(211, 210, 210);
    position: relative;
}
.menu-principal{
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    width: 100%;
    justify-content: space-between;
    padding: 0px 30px;
    background-color: blue;
}
.itens-menu {
    display: flex;
    list-style: none;
    padding-top: 10px;
}

.item-menus {
   padding-right: 20px ;
   text-align: center;
}
#nome-empresa{
    color: rgb(255, 111, 0);
}

#btn-criar{
    display: block;
    padding:7.5px;
    background-color: rgb(255, 111, 0);
    color:#fff;
    font-weight: bold;
    border: 1px solid rgba(255, 111, 0, 0.301);
    border-radius:5px;
    position: relative;
    margin-bottom: 10px;
    transition: .3s ease-in-out;
}
#btn-criar:hover{
    background-color: rgb(216, 94, 0) ;
    cursor:pointer;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal {
    display: none;
    position: fixed;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    z-index: 2;
}
.modal h2{
    text-align: center;
    color:rgb(216, 94, 0);
    padding: 5px;
}
.modal label{
    font-size: 15px;
    color:rgb(216, 94, 0);
}

.componente {
    position: relative; 
    margin-bottom: 15px; 
}
.componente select {
    color: gray; 
}

.icone,.icone2,.icone3,.icone4 {
    color: gray;
    position: absolute; 
    left: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    transition: color .2s ease-in-out; 
}
.componente input, select {
    width: 95%;
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 5px;
    background-color: white; 
    padding: 10px;
    padding-left: 40px; 
    transition: .2s ease-in-out;
}

.componente select:focus{
    border-color: rgb(255, 111, 0); 
    outline: none;
    cursor:pointer;
}
.componente input:focus {
    border-color: rgb(255, 111, 0); 
    outline: none;
}

input:focus + .icone,
input:focus + .icone2,
input:focus ~ .icone,
input:focus ~ .icone2,
input:focus + .icone3,
input:focus + .icone4,
input:focus ~ .icone3,
select:focus ~ .icone4 {
    color: rgb(255, 111, 0); 
}
.btns-funcionario{
    display: flex;
    justify-content: center;
    position: relative;
}
.btns-excluir-funcionarios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5%;
    position: relative;
}
#confirmar-excluir-btn, #btn-atualiza-funcionario{
    border: none;
    border-radius:5px;
    color:#fff;
    font-size: 15px;
    padding: 10px;
    margin-right: 10px;
    width: 100px;
    background-color: #03c700;
    transition: .3s ease-in-out;
}
#criar-funcionario{
    border: none;
    border-radius:5px;
    color:#fff;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    background-color: #03c700;
    transition: .3s ease-in-out;
}
#criar-funcionario:hover, #confirmar-excluir-btn:hover, #btn-atualiza-funcionario:hover{
    background-color: #03c7009c;
    cursor: pointer;
}
#cancelar-exclusao, #btn-fechar-edicao{
    border: none;
    border-radius:5px;
    color:#fff;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    background-color: #03c700;
    transition: .3s ease-in-out;
    position: relative;
}
#btn-fechar{
    border: none;
    border-radius:5px;
    color:#fff;
    font-size: 15px;
    padding: 10px;
    margin-top: 5px;
    width: 100px;
    background-color: #03c700;
    transition: .3s ease-in-out;
    position: relative;
    right: -50%;
    transform: translateX(-50%);
}
#btn-fechar:hover, #cancelar-exclusao:hover, #btn-fechar-edicao:hover{
    background-color: #03c7009c;
    cursor: pointer;
}
.container-funcionarios{
    width: 80%;
    height: calc(100vh - 150px);
    overflow-y: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.verificando{
    animation: rotacao 1s infinite;
    height: 100px;
    width: 100px;
    border-radius:50%;
    border: 6px solid #e5e5e5;
    border-top-color: rgb(216, 94, 0);
}
@keyframes rotacao {
    to{
        transform:rotate(1turn)
    }
}
#tabela-funcionarios {
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    margin-top: 3%;
    position: relative;
    border-collapse: collapse;
    box-shadow: 2px 2px 5px 2px var(rgba(211, 210, 210, 0.534));
}
.linha{
    background-color:  rgb(216, 94, 0);
    border-radius: 5px;
}
.celula-tabela {
    padding: 15px;
    background-color: rgb(216, 94, 0);
    color:#fff;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}
.funcionario-tabela td{
    border:1px outset rgb(216, 94, 0);
    text-align: center;
    padding: 15px;
    
}
.funcionarioAcesso{
    background-color: rgb(255, 111, 0);
    border:1px outset rgb(216, 94, 0);
    text-align: center;
    padding: 15px;
    color:#fff;
}
.btnEditar{
    background-color: transparent;
    border:none;
    font-size:18px;
    color:#fff;
    transition: .3s ease-in-out;
    margin-right:30% ;
}
.btnExcluir{
    background-color: transparent;
    border:none;
    font-size:18px;
    color:#fff;
    transition: .3s ease-in-out;
}
.btnEditar:hover, .btnExcluir:hover{
    cursor: pointer;
    color:#ffffff91;
}

#mensagem{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bolder;
    color:rgb(216, 94, 0);
    text-decoration:underline;
}