<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/style/style-login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <main class="container-login">
        <div class="quadrado-start"></div>
        <div class="login">
            <div class="titulos-login">
                <h1 class="titulo">FUNCIONALIZE</h1>
                <h2>LOGIN</h2>
                <p>Bem-vindo de volta!</p>
                <p>Insira algumas informações para seguir!</p>
            </div>
            <form id="form-login">
                <div class="componentes">
                    <div class="componente">
                            <input type="email" name="email" id="email-empresa" placeholder="email@gmail.com" required>
                            <i class="icone fa-solid fa-user"></i>
                    </div>
                    <div class="componente">
                            <input type="password" name="password-empresa" id="password-empresa" placeholder="********" required>
                            <i class="icone2 fa-solid fa-lock"></i>
                    </div>
                </div>
                <div class="container-btn">
                    <span class="esq-reg">
                        <a href="../views/register.html">CRIAR CONTA</a>
                        <a href="#">ESQUECEU A SENHA?</a>
                    </span>
                </div>
                <div class="btn-confirmar">
                    <button type="submit" id="Enviar">Enviar</button>
                </div>
            </form>
        </div>
        <div class="quadrado-end"></div>
    </main>
    <footer class="container-rodape">

    </footer>
</body>
</html>