<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUNCIONALIZE</title>
    <link rel="stylesheet" href="../public/style/style-principal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <main class="container-principal">
        <header>
              <nav class="menu-principal">
                    <h2 id="nome-empresa">Nome da empresa</h2>
                    <p id="nicho-empresa">Nicho da empresa</p>
                <ul class="itens-menu">
                    <li class="item-menus">
                        <button id="btn-criar">Cadastrar Funcionario</button>
                    </li>
                </ul>
              </nav>
        </header>
        <div id="overlay" class="overlay"></div>
        <div id="modal" class="modal" style="display: none">
          <h2>Cadastrar Funcionário</h2>
          <form method="post" id="form-add-func">
            <label for="nome-funcionario">Nome do Funcionário</label>
            <div class="componente">
             
              <input
                type="text"
                name="nome-funcionario"
                id="nome-funcionario"
                placeholder="Nome Completo do Funcionário"
              />
              <i class="icone fa-solid fa-user"></i>
            </div>
            <label for="idade-funcionario">Idade</label>
            <div class="componente">
              <input
                type="number"
                name="idade-funcionario"
                id="idade-funcionario"
                placeholder="ex:21"
              />
              <i class="icone2 fa-solid fa-calendar-days"></i>
            </div>
            <label for="salario-funcionario">Salário do Funcionário</label>
            <div class="componente">
             
              <input
                type="number"
                name="salario-funcionario"
                id="salario-funcionario"
                placeholder="ex:1200"
              />
              <i class="icone3 fas fa-money-bills"></i>
            </div>
            <label for="departamento-funcionario">Departamento</label>
            <div class="componente">
              <select name="departamento-funcionario" id="departamento-funcionario">
                <option value="" disabled selected hidden>Selecione um Departamento</option>
                <option value="Tecnologia">Tecnologia</option>
                <option value="Saúde e Bem-Estar">Saúde e Bem-Estar</option>
                <option value="Moda e Beleza">Moda e Beleza</option>
                <option value="Alimentação e Bebidas">Alimentação e Bebidas</option>
                <option value="Educação">Educação</option>
                <option value="Viagens e Turismo">Viagens e Turismo</option>
                <option value="Casa e Decoração">Casa e Decoração</option>
                <option value="Finanças e Investimentos">Finanças e Investimentos</option>
                <option value="Animais de Estimação">Animais de Estimação</option>
                <option value="Sustentabilidade e Meio Ambiente">Sustentabilidade e Meio Ambiente</option>
            </select>
              <i class="icone4 fas fa-sitemap"></i>
            </div>
            <div class="btns-funcionario">
              <button id="criar-funcionario">Criar</button>
             
            </div>
          </form>
          <button id="btn-fechar">Fechar</button>
        </div>
        <div id="confirmaExcluirModal" class="modal" style="display: none">
          <div class="modal-content">
            <h2>Confirmação</h2>
            <p>Tem certeza de que deseja excluir?</p>
            <div class="btns-excluir-funcionarios">
              <button id="confirmar-excluir-btn">Excluir</button>
              <button id="cancelar-exclusao">Cancelar</button>
            </div>
          </div>
        </div>


        <div id="confirmaEditarModal" class="modal" style="display: none">
          <div class="modal-content">
            <h2>Atualizar Dados do Funcionário</h2>
          <form method="patch" id="form-edit-func">
            <label for="nome-funcionario">Nome do Funcionário</label>
            <div class="componente">
              <input
                type="text"
                name="nome-funcionario"
                id="novo-nome-funcionario"
                placeholder="Nome Completo do Funcionário"
              />
              <i class="icone fa-solid fa-user"></i>
            </div>
            <label for="idade-funcionario">Idade</label>
            <div class="componente">
              <input
                type="number"
                name="idade-funcionario"
                id="novo-idade-funcionario"
                placeholder="ex:21"
              />
              <i class="icone2 fa-solid fa-calendar-days"></i>
            </div>
            <label for="salario-funcionario">Salário do Funcionário</label>
            <div class="componente">
             
              <input
                type="number"
                name="salario-funcionario"
                id="novo-salario-funcionario"
                placeholder="ex:1200"
              />
              <i class="icone3 fas fa-money-bills"></i>
            </div>
            <label for="departamento-funcionario">Departamento</label>
            <div class="componente">
             <select name="departamento-funcionario" id="novo-departamento-funcionario">
                <option value="" disabled selected hidden>Selecione um Departamento</option>
                <option value="Tecnologia">Tecnologia</option>
                <option value="Saúde e Bem-Estar">Saúde e Bem-Estar</option>
                <option value="Moda e Beleza">Moda e Beleza</option>
                <option value="Alimentação e Bebidas">Alimentação e Bebidas</option>
                <option value="Educação">Educação</option>
                <option value="Viagens e Turismo">Viagens e Turismo</option>
                <option value="Casa e Decoração">Casa e Decoração</option>
                <option value="Finanças e Investimentos">Finanças e Investimentos</option>
                <option value="Animais de Estimação">Animais de Estimação</option>
                <option value="Sustentabilidade e Meio Ambiente">Sustentabilidade e Meio Ambiente</option>
            </select>
              <i class="icone4 fas fa-sitemap"></i>
            </div>
            <div class="btns-funcionario">
              <button id="btn-atualiza-funcionario">Atualizar</button>
              <button id="btn-fechar-edicao">Cancelar</button>
            </div>
          </form>
          
          </div>
        </div>
        <div class="container-funcionarios">
          <div class="mensagem-erro" id="mensagem-erro" style="display: none;"> <p id="mensagem">Nenhum funcionário cadastrado!</p></div>
          <div class="loader">
            <div class="verificando" id="verificando"></div>
          </div>
            <table id="tabela-funcionarios" style="display: none;">
                <thead>
                  <tr class="linha">
                    <th class="celula-tabela">Nome</th>
                    <th class="celula-tabela">Idade</th>
                    <th class="celula-tabela">Salario</th>
                    <th class="celula-tabela">Departamento</th>
                    <th class="celula-tabela">Ações</th>
                  </tr>
                </thead>
                <tbody class="funcionarios-tabela"></tbody>
            </table>
        </div>
    </main>
    <script src="../public/javascript/pagina-funcionarios.js"></script>
</body>
</html>